body {
    background-color: white;
    margin: 0;
}

.header {
    height: 33vh; 
    width: 100%; 
    background-color: grey; 
}

h1 {
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchInput {
    border: none;
    padding: 10px;
    width: 200px;
    flex: 0.3
}
  
button {
    height: 36px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.tabsContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
}

.Category {
    padding-right: 50px;
    margin-right: 40px;
}

.Sort {
    padding-right: 50px;
}

.category {
    margin-right: 5px;
}

.sort {
    margin-right: 5px;
}
  